<div class="flex flex-col justify-between p-4 w-[500px] bg-blue-100 cursor-default rounded-md">
    <div class="p-2 bg-slate-100 rounded-md">
      <%= link_to post.title, user_post_path(@user, post) %> 
      <p class="mt-4 italic text-sm"><%= truncate(post.text, length: 100, omission: '...' ) %>
          
      <div class="flex gap-2 ml-[60%] mt-8">
        <small class="text-sm font-medium">
          <%= link_to "Comments: #{post.comments_counter}", user_post_path(@user, post) %>
        </small>
        <small class="text-sm font-medium">
          <%= link_to "Likes: #{post.likes_counter}", user_post_likes_path(@user, post)%>
        </small>
      </div>
    </div>
</div> 
