<div class="flex flex-col gap-2 items-center justify-center">
  <% @users.each do |person| %>
    <div class="flex items-center gap-10 mt-8 p-4 rounded-md bg-blue-100 hover:bg-blue-300 border-2 border-black cursor-pointer">
      <div style="max-width: 100px; max-height: 100px;">
        <img src="<%= person.photo %>" alt="User Photo" />
      </div>
      <div class="flex gap-8 ml-8">
        <p><%= person.name %></p>
        <p>Number of Posts: <%= person.posts_counter %></p>
      </div>
    </div>
  <% end %>
</div>
