<%= render partial: "users/user", locals: {person: @user} %>

<div class="posts-container">
    <% @user.posts.each do |post| %>
        <%= render partial: "users/posts", locals: {post: post} %>
        <div class="">
            <%  comments = post.recent_comments%>
            <% comments.each do |comment| %>
                <div class="">
                    <small><%= comment.user.name%>: </small>
                    <small><%= comment.text%> </small>
                </div>
            <% end %>
        </div>
    <% end %>
</div>

<button class="">Pagination</button>
